.bg-grad {
  background: linear-gradient(rgba(81, 106, 248, 0.205), white);
}
.h1-center{
  margin-top: 3%;
  margin-left: 29%;
  height: 20vh;
}
.box{
  width: 100%;
  height: 300px;
  
}
.search-size{
  width: 900px;
  
}